:root{
    --primary-color: '#f1515c';
}

*{
    padding: 0;
    margin: 0;
}


body{
    background: #181726;
    font-family: 'Roboto' , sans-serif;
}

#navbar{
    top: 0;
}

#navcontainer{
    display: flex;
    justify-content: space-between;
    /* background: linear-gradient(to right, skyblue , lightgreen); */
    background: var(--primary-color);
}

#navcontainer .list{
    display: flex;
    font-size: 20px;
    
}

#navcontainer .list li{
    padding: 20px;
    padding-right: 25px;
    list-style: none;
}

#navcontainer .list li a{
    text-decoration: none;
    color: #fff;
}
#showcase{
    max-width: 1250px;
    margin: auto;
}

#showcase #showcontainer{
    display: grid;
    grid-template-columns: 60% 30%;
    height: 80vh;
}

#showcase #showcontainer #data{
    font-weight: bolder;
    color: #fff;
    font-size: 59px;
    font-family: 'roboto';
    display: flex;
    flex-direction: column;
    justify-content: center;
 }

#showcase #showcontainer #data span{
    color: #f1515c ;
}

#showcase #showcontainer #programmingsvg img{
    height: 200px;
}

#showcase #showcontainer #data .para2 {
    color : #9b9898;
    font-size: 24px;
    padding-top: 40px;

}

#showcase #showcontainer #data .programming{

    height: 300px;
    opacity: 0.2;
    position: absolute;
    left: -180px;
    top: 60px;
    z-index: -1;
}


#showcase #showcontainer #link a{
    text-decoration: none;
    color: #fff;
    font-size: larger;
    
    
}

#showcase #showcontainer #link a:hover{
    color: #c4c4c4;
    transition-property: all;
    transition-duration: 0.5s;

      
}   

#section {
    max-width: 1100px;
    margin: auto;
    color: #fff;
}

 #section #projects{
    z-index: 1;
    position: absolute;
    top: 800px;
} 

#section #projects a{
    text-decoration: none;
    color: #f1515c ;
    font-size: 20px;
    font-weight: bold;
}

#section img{
padding-left: 40px;
}


#section #onclickimages{
  display: grid;
  grid-template-columns: 4fr 0.5fr;
}

#projects h1{
    font-size: 44px;
    padding-bottom: 20px;
}

#updownlinks{
    display: flex;
    justify-content: space-between;
    
}





